@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    System.Security.Claims.Claim userRoleName = null;
    if (User.Identity.IsAuthenticated)
    {

        var claimsIdentity = User.Identity as System.Security.Claims.ClaimsIdentity;

        if (claimsIdentity != null)
        {
            userRoleName = claimsIdentity.FindFirst("role");

        }
    }
    else
    {

    }
}
<link href="/css/msdropdown/dd.css" rel="stylesheet" />
<link href="/css/jqueryui/jquery-ui.css" rel="stylesheet" />
<link href="/css/jqueryui/jquery-ui.structure.css" rel="stylesheet" />
<link href="/css/jqueryui/jquery-ui.theme.css" rel="stylesheet" />
<link href="/css/dashboard/dashboard.css" rel="stylesheet" />
<script src="/css/icon/iconify-icon.min.js"></script>
<script src="/lib/apexcharts-bundle/js/apexcharts.min.js"></script>
<script src="/PanelContent/rtl/assets/js/jquery.min.js"></script>
<script src="/Scripts/jQueryUI/jquery-ui.min.js"></script>
<script src="~/Scripts/Plugins/Chart/ChartSensore.js"></script>

@if (User.Identity.IsAuthenticated)
{
    <div class="row">

        <div class="col-xl-6 col-lg-6">
            <div class="card radius-10 bg-info heightWidgetCustomer">
                <div class="card-body">
                    <div class="d-flex align-items-center">
                        <div>
                            <p class="mb-0 text-white c-title-info-topDash">تعداد سالن های موجود</p>
                            <br />
                            <h4 class="my-1 text-white c-value-info-topDash" id="GreenhouseHallCount">در حال بررسی</h4>
                        </div>
                        <div class="widgets-icons bg-white text-dark ms-auto">
                            <iconify-icon icon="icon-park-outline:green-house"></iconify-icon>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-6 col-lg-6">
            <div class="card radius-10 heightWidgetCustomer" style="background-color: rgb(189, 72, 80);">
                <div class="card-body">
                    <div class="d-flex align-items-center">
                        <div>
                            <p class="mb-0 text-dark c-title-info-topDash">تعداد سنسورهای دما</p>
                            <br />
                            <h4 class="my-1 text-dark c-value-info-topDash" id="TemperatureSensorCount">درحال دریافت</h4>
                        </div>
                        <div class="widgets-icons bg-white ms-auto">
                            <iconify-icon icon="mingcute:low-temperature-fill"></iconify-icon>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-6 col-lg-6">
            <div class="card radius-10 heightWidgetCustomer" style="background-color: rgb(5, 125, 41);">
                <div class="card-body">
                    <div class="d-flex align-items-center">
                        <div>
                            <p class="mb-0 text-white c-title-info-topDash">تعداد سنسورهای رطوبت</p>
                            <br />
                            <div id="HumiditySensorCount" class="text-white c-value-info-topDash mw-100"><h4 class="text-white">درحال دریافت</h4></div>
                        </div>
                        <div class="widgets-icons bg-white text-dark ms-auto">
                            <iconify-icon icon="material-symbols:humidity-percentage-rounded"></iconify-icon>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-6 col-lg-6">
            <div class="card radius-10 bg-warning heightWidgetCustomer" style="background-color: rgb(255, 209, 26);">
                <div class="card-body">
                    <div class="d-flex align-items-center">
                        <div>
                            <p class="mb-0 text-dark c-title-info-topDash">تعداد سنسورهای نور</p>
                            <br />
                            <div id="LightIntensitySensorCount" class="c-value-info-topDash"><h4 class="my-1 text-dark ">درحال دریافت</h4></div>
                        </div>
                        <div class="widgets-icons bg-white text-dark ms-auto">
                            <iconify-icon icon="entypo:light-up"></iconify-icon>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" id="chartPlugin">
            @* <div class="col-xl-6 col-lg-6"><h6 class="mb-0 text-uppercase">سنسور دما</h6><hr /><div class="card"><div class="card-body"><div id="chart0"></div></div></div></div><script>"use strict"; var options0 = { series: [{ name: 'دما', data: ["11.6", "21"] }], chart: { foreColor: '#9ba7b2', height: 360, type: 'line', zoom: { enabled: true }, toolbar: { show: true }, dropShadow: { enabled: true, top: 3, left: 14, blur: 4, opacity: 0.10, } }, stroke: { width: 5, curve: 'smooth' }, xaxis: { type: 'datetime', categories: ["1402-11-01T23:13:08Z", "1402-11-01T23:59:08Z"], }, tooltip: { x: { format: 'yyyy/MM/dd HH:mm' }, }, title: { text: 'سنسور دما', align: 'right', style: { fontSize: "16px", color: '#666' } }, fill: { type: 'gradient', gradient: { shade: 'light', gradientToColors: ['#204ff7'], shadeIntensity: 1, type: 'horizontal', opacityFrom: 1, opacityTo: 1, stops: [0, 100, 100, 100] }, }, markers: { size: 4, colors: ["#204ff7"], strokeColors: "#fff", strokeWidth: 2, hover: { size: 7, } }, colors: ["#204ff7"], yaxis: { title: { text: '', }, } }; var chart0 = new ApexCharts(document.querySelector("#chart0"), options0); chart0.render();</script> *@
        </div>
    </div>
    @* <div class="col-xl-6 col-lg-6"><h6 class="mb-0 text-uppercase">سنسور دما</h6><hr /><div class="card"><div class="card-body"><div id="chart0"></div></div></div></div><script>"use strict"; var options0 = { series: [{ name: 'دما', data: ["4",    "15"] }], chart: { foreColor: '#9ba7b2', height: 360, type: 'line', zoom: { enabled: true }, toolbar: { show: true }, dropShadow: { enabled: true, top: 3, left: 14, blur: 4, opacity: 0.10, } }, stroke: { width: 5, curve: 'smooth' }, xaxis: { type: 'datetime', categories: ["1402-11-01T23:12:55Z", "1402-11-05T17:17:02Z"], }, tooltip: { x: { format: 'yyyy/MM/dd HH:mm' }, }, title: { text: 'سنسور دما', align: 'right', style: { fontSize: "16px", color: '#666' } }, fill: { type: 'gradient', gradient: { shade: 'light', gradientToColors: ['#204ff7'], shadeIntensity: 1, type: 'horizontal', opacityFrom: 1, opacityTo: 1, stops: [0, 100, 100, 100] }, }, markers: { size: 4, colors: ["#204ff7"], strokeColors: "#fff", strokeWidth: 2, hover: { size: 7, } }, colors: ["#204ff7"], yaxis: { title: { text: '', }, } }; var chart0 = new ApexCharts(document.querySelector("#chart0"), options0); chart0.render();</script> *@

}


@section scripts {
    <script src="~/Scripts/Plugins/Chart/ChartSensore.js"></script>
    <script src="/lib/apexcharts-bundle/js/apexcharts.min.js"></script>
    <script src="/Scripts/jQueryUI/jquery-ui.min.js"></script>
    <script>
        $("#chartPlugin").ChartSensore();
    </script>
    @* <script>

        $(document).ready(function () {
            "use strict";
            // chart 1
            var options0 = {
                series: [{
                    name: 'دما',
                    data: [11.6]
                }],
                chart: {
                    foreColor: '#9ba7b2',
                    height: 360,
                    type: 'line',
                    zoom: {
                        enabled: true
                    },
                    toolbar: {
                        show: true
                    },
                    dropShadow: {
                        enabled: true,
                        top: 3,
                        left: 14,
                        blur: 4,
                        opacity: 0.10,
                    }
                },
                stroke: {
                    width: 5,
                    curve: 'smooth'
                },
                xaxis: {
                    type: 'datetime',
                    categories: ['1402-11-01T23:13:08Z'],
                },
                tooltip: {
                    x: {
                        format: 'yyyy/MM/dd HH:mm'
                    },
                },
                title: {
                    text: 'سنسور دما',
                    align: 'right',
                    style: {
                        fontSize: "16px",
                        color: '#666'
                    }
                },
                fill: {
                    type: 'gradient',
                    gradient: {
                        shade: 'light',
                        gradientToColors: ['#204ff7'],
                        shadeIntensity: 1,
                        type: 'horizontal',
                        opacityFrom: 1,
                        opacityTo: 1,
                        stops: [0, 100, 100, 100]
                    },
                },
                markers: {
                    size: 4,
                    colors: ["#204ff7"],
                    strokeColors: "#fff",
                    strokeWidth: 2,
                    hover: {
                        size: 7,
                    }
                },
                colors: ["#204ff7"],
                yaxis: {
                    title: {
                        text: '',
                    },
                }
            };
            var chart0 = new ApexCharts(document.querySelector("#chart0"), options0);
            chart0.render();
        })
    </script> *@

    <script>
        $(function () {
            $('[data-bs-toggle="popover"]').popover();
            $('[data-bs-toggle="tooltip"]').tooltip();
        })
    </script>

    @if (User.Identity.IsAuthenticated && userRoleName != null && userRoleName.Value.ToLower() == "customer")
    {
        <script src="/Scripts/home/coreReportsForCustomer.js"></script>
    }

}

