@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    System.Security.Claims.Claim userRoleName = null;
    if (User.Identity.IsAuthenticated)
    {

        var claimsIdentity = User.Identity as System.Security.Claims.ClaimsIdentity;

        if (claimsIdentity != null)
        {
            userRoleName = claimsIdentity.FindFirst("role");

        }
    }
    else
    {

    }
}
<link href="/css/msdropdown/dd.css" rel="stylesheet" />
<link href="/css/jqueryui/jquery-ui.css" rel="stylesheet" />
<link href="/css/jqueryui/jquery-ui.structure.css" rel="stylesheet" />
<link href="/css/jqueryui/jquery-ui.theme.css" rel="stylesheet" />
<link href="/css/dashboard/dashboard.css" rel="stylesheet" />
<script src="/css/icon/iconify-icon.min.js"></script>

@if (User.Identity.IsAuthenticated)
{
    @if (userRoleName != null && userRoleName.Value.ToLower() == "customer")
    {
        <div class="row ">

            <div class="col-xl-6 col-lg-6">
                <div class="card radius-10 bg-success heightWidgetCustomer">
                    <div class="card-body">
                        <div class="d-flex align-items-center">
                            <div>
                                <p class="mb-0 text-white c-title-info-topDash">تعداد سالن های موجود</p>
                                <br />
                                <h4 class="my-1 text-white c-value-info-topDash">در حال بررسی</h4>
                            </div>
                            <div class="widgets-icons bg-white text-success ms-auto">
                                <iconify-icon icon="icon-park-outline:green-house"></iconify-icon>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6">
                <div class="card radius-10 bg-info heightWidgetCustomer">
                    <div class="card-body">
                        <div class="d-flex align-items-center">
                            <div>
                                <p class="mb-0 text-dark c-title-info-topDash">تعداد سنسورهای دما</p>
                                <br />
                                <h4 class="my-1 text-dark c-value-info-topDash" id="loginCount">درحال دریافت</h4>
                            </div>
                            <div class="widgets-icons bg-white text-dark ms-auto">
                                <iconify-icon icon="mingcute:low-temperature-fill"></iconify-icon>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6">
                <div class="card radius-10 bg-danger heightWidgetCustomer">
                    <div class="card-body">
                        <div class="d-flex align-items-center">
                            <div>
                                <p class="mb-0 text-white c-title-info-topDash">تعداد سنسورهای رطوبت</p>
                                <br />
                                <div id="companyLatestInProgressFacilityState" class="text-white c-value-info-topDash mw-100"><h4 class="text-white">درحال دریافت</h4></div>
                            </div>
                            <div class="widgets-icons bg-white text-danger ms-auto">
                                <iconify-icon icon="material-symbols:humidity-percentage-rounded"></iconify-icon>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6">
                <div class="card radius-10 bg-warning heightWidgetCustomer">
                    <div class="card-body">
                        <div class="d-flex align-items-center">
                            <div>
                                <p class="mb-0 text-dark c-title-info-topDash">تعداد سنسورهای نور</p>
                                <br />
                                <div id="companyLatestInProgressFacilityProgressPercent" class="c-value-info-topDash"><h4 class="my-1 text-dark ">درحال دریافت</h4></div>
                            </div>
                            <div class="widgets-icons bg-white text-dark ms-auto">
                                <iconify-icon icon="entypo:light-up"></iconify-icon>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }

    <div class="row">
        <div class="col">

        </div>
    </div>

    <div class="row">
        <div class="col">

            @Html.Partial("~/Views/shared/Dashboard/_dashboardSchema.cshtml")

        </div>
    </div>
}


@section scripts {
    <script>
        var dashboardWidgets = [];
    </script>
    <script src="/lib/apexcharts-bundle/js/apexcharts.min.js"></script>
    <script src="/Scripts/FacilityRegistration/WidgetFacility.js"> </script>
    <script src="/Scripts/jQueryUI/jquery-ui.min.js"></script>
    <script src="/Scripts/MSDropdown/jquery.dd.min.js"></script>
    <script src="/Scripts/print/jquery.printElementModified.js"></script>
    <script src="/Scripts/Dashboard/dashboardStrs.js"> </script>
    <script src="/Scripts/Dashboard/dashboardModuleContainer.js"> </script>
    <script src="/Scripts/Dashboard/widgetInstantiator.js"> </script>

    <script src="/scripts/dashboard/widgets/w_averagesteptimes.js"></script>
    <script src="/scripts/dashboard/widgets/w_registeredAndAcceptedRequestAmountsByTimePeriod.js"></script>
    <script src="/scripts/dashboard/widgets/w_registeredAndAcceptedRequestByTimePeriod.js"></script>
    <script src="/scripts/dashboard/widgets/w_GetCountOfFacilityInSpecialStep.js"></script>

    <script>

        $(document).ready(function () {
            //GetAllFacilityRequests();

            var moduleContainer = jQuery(".cpPanel").dashboardModuleContainer({
                dashboardTabsType: 'maindash',
            });
            //console.log(moduleContainer);
            moduleContainer.reBind('maindash');
        })
    </script>

    <script>

        $(function () {
            $('[data-bs-toggle="popover"]').popover();
            $('[data-bs-toggle="tooltip"]').tooltip();


        })

    </script>



    @if (User.Identity.IsAuthenticated && userRoleName != null && userRoleName.Value.ToLower() != "customer" && userRoleName.Value.ToLower() != "thirdParty")
    {
        <script src="/Scripts/home/coreReportsForOrgUser.js"></script>
        <script src="/Scripts/home/financialReportsForOrgUser.js"></script>
    }

    @if (User.Identity.IsAuthenticated && userRoleName != null && userRoleName.Value.ToLower() == "customer")
    {
        <script src="/Scripts/home/coreReportsForCustomer.js"></script>
    }

}

