.profile-userpic {
    float: none;
    margin: 0 auto;
    width: 22%;
    height: 50%;
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    border-radius: 50% !important;
}
