@{
    ViewData["Title"] = "مدیریت سنسور رطوبت خاک";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .table-border thead tr td {
        text-align: center;
    }

    .float-left {
        float: left;
    }

    .float-right {
        float: right;
    }

    #cartable_length {
    }

    #cartable_filter {
        width: 250px;
        left: 25px;
        position: absolute;
        margin-top: -40px;
    }

    thead tr th {
        border-width: 1px;
        padding: 5px !important;
    }
</style>

<div id="HumiditySensor">
</div>


@section scripts {
    <script src="~/Scripts/Plugins/SensorManagement/HumiditySensor.js"></script>
    <script>
        $("#HumiditySensor").HumiditySensor();
    </script>
}