@using GreenHouse.Web.Controller.Model

@model LoginViewModel

@{
    ViewData["Title"] = "ورود ";
}

<div class="col mx-auto" style="z-index:1">
    <div class="card" style="margin-top:25px">
        <div class="card-body">
            <div class="p-4 rounded">
                <div class="text-center">
                    <h3 class="">ورود</h3>
                    <img class="logo_banader" src="~/panel/imgs/logo/newLogoBanaderWithBottomTitle.png" alt="logo_banader" />
                    <br />
                    <p>سامانه مدیریت و رصد گلخانه</p>

                </div>
                <br />
                <partial name="_ValidationSummary" />

                @if (ViewBag.ResetSuccessFull != null)
                {
                    <div style="background-color:white" class="text-center">
                        <h3 style="color:white; background-color:forestgreen">@ViewBag.ResetSuccessFull</h3>
                    </div>
                }

                <div class="form-body">
                    @if (Model.EnableLocalLogin)
                    {
                        <form class="row g-3 needs-validation" asp-route="Login">
                            <input type="hidden" asp-for="ReturnUrl" />

                            <div class="col-12">
                                <label asp-for="UserName" class="form-label">نام کاربری شما</label>
                                <input data-val="true"
                                       required
                                       maxlength="25"
                                       minlength="4"
                                       data-msg-minlength="نام کاربری رمزعبور حداقل ۴ کاراکتر استاست"
                                       data-msg-maxlength=" ملی حداکثر 10 رقم استد"
                                       data-val-required="لطفا نام کاربری را وارد کنید"
                                       data-msg-pattern="نام کاربری وارد شده معتبر نیست" class="form-control" placeholder="نام کاربری" asp-for="UserName" id="UserName" autofocus>
                                <div class="invalid-feedback" data-valmsg-for="UserName" data-valmsg-replace="true" for="UserName"></div>
                            </div>

                            <div class="col-12">
                                <label asp-for="Password" for="Password" class="form-label">رمز عبور</label>
                                <div class="input-group" id="show_hide_password">
                                    <input data-msg-minlength="رمزعبور حداقل 6 کاراکتر است" minlength="6" data-val-required="لطفا رمز عبور را وارد کنید" type="password" class="form-control border-end-0" placeholder="رمز عبور" id="Password" asp-for="Password" required autocomplete="off">
                                    <a id="myButton" class="input-group-text bg-transparent"><i class='bx bx-hide'></i> </a>
                                    <div class="invalid-feedback" data-valmsg-for="Password" data-valmsg-replace="true" for="Password"></div>

                                </div>
                            </div>

                            <div class="col-12">
                                <div class="d-grid">
                                    <button class="btn btn-primary" name="button" value="login">
                                        <i class="bx bxs-lock-open"></i>ورود
                                    </button>
                                </div>
                            </div>
                        </form>
                    }
                    <div class="quizRegister">
                        ثبت نام نکرده‌اید؟ <a href="/Account/register">ثبت نام</a><div>
                            @if (!Model.EnableLocalLogin && !Model.VisibleExternalProviders.Any())
                            {
                                <div class="alert alert-warning">
                                    <strong>Invalid login request</strong>
                                    There are no login schemes configured for this request.
                                </div>
                            }


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>